<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}">EVENT ID #</td>
        <td th:text="${event.name}">EVENT NAME GOES HERE</td>
        <td th:text="${event.description}">EVENT DESCRIP GOES HERE</td>
        <td th:text="${event.contactEmail}">CONTACT EMAIL GOES HERE</td>
    </tr>
</table>

</body>
</html>