<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Location</th>
            <th>Guests</th>
            <th>Registration Required?</th>
            <th>Event Type</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}">EVENT ID #</td>
        <td th:text="${event.name}">EVENT NAME GOES HERE</td>
        <td th:text="${event.description}">EVENT DESCRIP GOES HERE</td>
        <td th:text="${event.contactEmail}">CONTACT EMAIL GOES HERE</td>
        <td th:text="${event.location}">Event Loc goes here</td>
        <td th:text="${event.numAttendees}">max num attendees goes here</td>
        <td th:text="${event.regRequired}">reg required goes here</td>
        <td th:text="${event.type.displayName}">event type here</td>
    </tr>
</table>

</body>
</html>